html,body{
    font-family: 'Heebo', sans-serif;
    margin:0;
    padding:0;
    background-color: #E5E5E5;
}
p,h1,h2,h3,h4{
    margin:0;
}
 /* Header*/
header nav {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
    background-color: rgb(110, 108, 76);
}
header nav ul {
    margin: 0;
    display: flex;
    align-items: center;
    gap:33px
}
header nav li {
    text-decoration: none;
    list-style: none;
}
header nav li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 25px;
    font-weight: 500;
    line-height: 29px;
    color: #01121d;

}

/* Hero Section*/

.hero-section {
    background-color: rgb(156, 153, 114);
    padding-top: 80px;
    padding-bottom: 150px;
}
.hero-section .hero-inner {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    align-items: center;

    
}

.hero-section .hero-inner .col-left {
    max-width: 497px; 
    margin-right: 20px;
}
.hero-section .hero-inner .col-left h1{
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color:#083149
}
.hero-section .hero-inner .col-left p{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-top: 15px;
    color: #083149;
    font-weight: 500;
}
.hero-section .hero-inner .col-left .button{
   margin-top: 28px;
   background-color: #083149;
   border-radius: 2px;
   color:#fff;
   line-height: 45px;
   text-align: center;
   padding: 3px 25px;
   max-width: fit-content;
   font-weight: 500;
   font-size: 20px;
   color: #FFFFFF;
}

.hero-section .hero-inner .col-right {
    flex:1; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.hero-section .hero-inner .col-right img {
    border-radius: 80%;
    border-image: 1px;
    height: 300px;
    width: 250px;
}

/* Posts Section*/

.posts-section {
    background-color:#3b4948;
    padding:50px 0;
}
.posts-section-inner{
    max-width: 960px;
    margin: 0 auto;
}
.posts-section-inner .posts-header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.posts-section-inner .posts-header h3{
    font-style:normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #ffffff;
}
.posts-section-inner .posts-header a{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    text-decoration: none;
    color: #ffffff;
}
.posts-section-inner .posts{
     display: flex;
     gap:20px
}

.posts .posts-item {
    background-color: #042233;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    color:#fff;
    padding: 30px;
    border-radius: 5px;
}
.posts .posts-item h3{
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    margin-bottom: 10px;

}
.posts .posts-item p{
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    margin-top: 14px;
}
.posts .posts-item .meta{
    display: flex;
    gap: 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

/* Featured Section*/
.feature-section{
    background-color: #f8f7ff;
    padding:32px 0;
}
.featured-section-inner{
    max-width: 960px;
    margin: 0 auto;
}
.featured-section-inner .fs-header h3{
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #110909;
    margin-bottom: 10px;
}

.fs-items{
    display:flex;
    gap:18px;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 24px;
    padding-bottom: 8px;
}
.fs-items .fs-items-left img{
    border-radius:7px;
    border-image: 1px;
    height: 150px;
    width: 180px;
}
.fs-items h3{
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
    margin-bottom: 8px;
}
.fs-items-right .items-meta{
    display: flex;
    gap:25px;
    
}
.fs-items-right .items-meta .badge{
    background: #142850;
    border-radius: 15px;
    color:#fff;
    padding:1px 8px;
    font-size: 18px;
    font-weight: 900;
}
.fs-items-right .items-meta .category{
    color: #718292;
}
.fs-items-right .description{
    margin-top: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
}
/*Footer*/
footer{
    height:182px;
    background-color: #ffffff;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
footer .socials{
    display: flex;
    gap:20px;
    margin-bottom: 20px;
}
footer .copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #21243D;
  }

/*Responsive*/
@media all and (max-width: 600px) {
    .hero-section .hero-inner {
      flex-direction: column-reverse;
    }
  
    .hero-section .col-right {
      margin-bottom: 30px;
    }
    .hero-section .col-left {
      text-align: center;
      margin: 0 20px;
    }
    .hero-section .col-left .action-button {
      margin-left: auto;
      margin-right: auto;
    }
  
    .posts {
      flex-direction: column;
      margin: 0 10px;
    }
  
    .posts-section .posts-header {
      justify-content: center;
    }
  
    .posts-header a {
      display: none;
    }
  
    .featured-section .featured-section-inner {
      margin: 0 18px;;
    }
  
    .featured-section .fs-header h2 {
      text-align: center;
    }
  
    .fs-list .fs-item {
      flex-direction: column;
    }
  
    .fs-list .fs-item .fs-item-left img {
      width: 100%;
    }
  
    .menu-button {
      display: flex;
      cursor: pointer;
    }
  
    .menu-button:hover {
      opacity: 0.7;
    }
  
    .deskop-links {
      display: none;
    }
  
    header nav {
      padding-right: 18px;
    }
    
  }
